{% extends 'space/base.html' %}
<!---->
{% block full_content %}
<form id='f' action="" method="post">{% csrf_token %}
  <div class="jumbotron text-center">
    <h1>Dating Time !</h1>
    <p>Perfect place for making new friend !</p>
  </div>
  <div class="container">
    <center> <button type="submit" class="btn btn-primary btn-lg" id='b1'>Start</button> </center>

  </div>

</form>
{% endblock %}

<!---->
{% block bodybottom %}
<script type="text/javascript">
  var ch = "";
  var res = "";

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  function showPosition(position) {
    ch = "" + position.coords.latitude +
      "a" + position.coords.longitude + "/";
    res = ch.replace(/\./g, 'p');
  }
document.addEventListener("DOMContentLoaded", function () {
  getLocation();
  $('#f').submit(function(ev) {
    ev.preventDefault();
    this.action = res;
    this.submit();
  });
});

</script>
{% endblock %}
